.app,
.layout-container {
  width: 100%;
  min-height: 100vh;
}

.layout-container {
  display: flex;
  flex-direction: column;
}

.layout-content {
  flex: 1;
  padding-top: 68px;
}

.layout-content--no-pad {
  padding-top: 0;
}
